<div class="container">
    <div class="row mt-4">
        <div class="col d-flex justify-content-between">
            <h2>Archivos</h2>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Acciones
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" (click)="changeView()">Nuevo</a></li>
                    <li><a class="dropdown-item" href="#" (click)="deleteItems()">Borrar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr />

    @if(!showForm){

        @for(item of files; track item){
            <app-list-item (selectedItem)="addItemDelete($event)" [item]=item></app-list-item>
            <hr />
        }
    } @else{
        <div>
            <app-form-file (addFileItem)="addItem($event)"
                (hideForm)="changeView()"></app-form-file>
        </div>
    }
</div>