<form class="row g-3 p-2 mt-4">
    <div class="row mt-4">
        <div class="col">
            <label for="validationServer01" class="form-label">Nombre</label>
            <input type="text" class="form-control is-valid" id="validationServer01" placeholder="Ingrese el nombre" required>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <label for="validationServer02" class="form-label">Fecha</label>
            <input type="date" class="form-control is-valid" id="validationServer02" required>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <label for="validationServer03" class="form-label">Tipo Archivo</label>
            <select class="form-select dorm-control is-valid" id="validationServer03">
                @for(file of files; track file){
                    @switch (file){
                        @case (0){
                            <option value={{file}}>Folder</option>
                        }
                        @case (1){
                            <option value={{file}}>File</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="">
            <label for="validationServer04" class="form-label">Carpeta</label>
            <select class="form-select dorm-control is-valid" id="validationServer04">
                
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <label for="validationServer05" class="form-label">Dueños</label>
            <div class="row">
                <div class="col-11">
                    <select class="form-select dorm-control is-valid" id="validationServer05">
                        @for(owner of owners; track owner){
                            <option value={{owner}}>{{owner.name}}</option>
                        }
                    </select>
                </div>
                <div class="col-1">
                    <button class="col-2" type="button" class="btn btn-secondary" >+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col d-flex justify-content-between">
            <button class="btn btn-secondary" type="button" (click)="mainPage()">volver</button>
            <button class="btn btn-primary justify-content-end" type="submit">Submit form</button>
        </div>
    </div>
  </form>